
{% load static %}
  
<input class="form-check-input switch" type="checkbox" role="switch" id="dayNight">
<label class="day-night" for="dayNight"></label>

<div class="wrapper-main">
  <div class="container-fluid header-main shadow-sm">
    <div class="row">
      <div class="col-12">
        <div class="d-flex py-2">
          <div class="d-flex align-items-center">
            <a href="javascript:void(0);" class="nav_icon px-3">
              <img src="{% static 'img/menu.png'%}" width="19" alt="">
              <img src="{% static 'img/menu_.png'%} " width="19" alt="">
            </a>

            <a href="#" class="brand">
              <img src="{% static 'img/sqa_logo.png'%}" width="170" alt="">
              <img src="{% static 'img/sqa_logo_.png'%}" width="170" alt="">
            </a>
          </div>
          <div class="ms-auto me-5">
            <div class="search me-3">
              <div class="form-outer">
                <input type="search" class="form-control" id="search_global" placeholder="Search">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    
  </div>

      
    
   

      
