{% extends 'base.html' %}
{% load static %}
<!doctype html>
<html class="no-js" lang="">

<head>
    {% block head %}
    {% endblock head %}
</head>

<body>
    {% block body%} {% endblock body%}
    {% block body1%}
    <div class="container-fluid px-0 content-main">
      <div class="d-flex">
        <div class="sidebar-left d-lg-block" style="display: none;">
          <div class="p-4">
            <ul class="list-unstyled accord">
              <li><a href="#">SimplifyQA Tool</a></li>
              <li><a href="#" class="has_ul">Admin Module</a>
                <ul class="list-unstyled ms-3">
                  <li><a href="#">Project</a></li>
                  <li><a href="#">Client</a></li>
                  <li><a href="#">Branch</a></li>
                  <li><a href="#">Role</a></li>
                  <li><a href="#">Release</a></li>
                  <li><a href="#">Iteration</a></li>
                </ul>
              </li>
              <li><a href="#" class="has_ul">My Board</a>
                <ul class="list-unstyled ms-3">
                  <li><a href="#">Project</a></li>
                  <li><a href="#">Client</a></li>
                  <li><a href="#">Branch</a></li>
                  <li><a href="#">Role</a></li>
                  <li><a href="#">Release</a></li>
                  <li><a href="#">Iteration</a></li>
                </ul>
              </li>
              <li><a href="#" class="has_ul">Common Features</a>
                <ul class="list-unstyled ms-3">
                  <li><a href="#">Project</a></li>
                  <li><a href="#">Client</a></li>
                  <li><a href="#">Branch</a></li>
                  <li><a href="#">Role</a></li>
                  <li><a href="#">Release</a></li>
                  <li><a href="#">Iteration</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="container w-100" style="max-width: unset;">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-xl-9">
                  <div class="content-main p-5">
                    <!-- info -->
                    <div class="alert alert-info">
                      <p class="m-0">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad</p>
                    </div>
                    <!-- content -->
                    <div id="section1"></div>
                    {% for v in version %}
                        <h2>Release Notes</h2>
                        <h3>{{v.version}}</h3>
                        <h4>{{v.release_title}}</h4>
                        <p>{{v.content|safe}}</p>

                    {% endfor %}

                   
                  </div>
                </div>
                
                <div class="col-xl-3 d-none d-xl-block">
                  <div class="sidebar-right">
                    <div class="p-5">
                      <ul class="list-unstyled">
                        <li><a href="#section1">Licensing Basics</a></li>
                        <li><a href="#section2">Basic DAI Licenses</a></li>
                        <li><a href="#section3">Hosting DAI in Cloud</a></li>
                        <li><a href="#section4">DAI Cloud Licenses</a></li>
                        <li><a href="#section5">Licensing Scenarios</a>
                          <ul class="list-unstyled">
                            <li><a href="#section5-1">Scenario 1</a></li>
                            <li><a href="#section5-2">Scenario 1</a></li>
                            <li><a href="#section5-3">Scenario 1</a></li>
                            <li><a href="#section5-4">Scenario 1</a></li>
                          </ul>
                        </li>
                        <li><a href="#section6">Licensing Basics</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
{% endblock body1%}
