
{% load static %}

{% block content %}
<div class="container-fluid px-0 content-main">
    <div class="sidebar-left d-lg-block" style="display: none;">
        <div class="p-4">
          <ul class="list-unstyled accord">
            <li><a href="#">SimplifyQA Tool</a></li>
            <li><a href="#" class="has_ul">Admin Module</a>
              <ul class="list-unstyled ms-3">
                <li><a href="#">Project</a></li>
                <li><a href="#">Client</a></li>
                <li><a href="#">Branch</a></li>
                <li><a href="#">Role</a></li>
                <li><a href="#">Release</a></li>
                <li><a href="#">Iteration</a></li>
              </ul>
            </li>
            <li><a href="#" class="has_ul">My Board</a>
              <ul class="list-unstyled ms-3">
                <li><a href="#">Project</a></li>
                <li><a href="#">Client</a></li>
                <li><a href="#">Branch</a></li>
                <li><a href="#">Role</a></li>
                <li><a href="#">Release</a></li>
                <li><a href="#">Iteration</a></li>
              </ul>
            </li>
            <li><a href="#" class="has_ul">Common Features</a>
              <ul class="list-unstyled ms-3">
                <li><a href="#">Project</a></li>
                <li><a href="#">Client</a></li>
                <li><a href="#">Branch</a></li>
                <li><a href="#">Role</a></li>
                <li><a href="#">Release</a></li>
                <li><a href="#">Iteration</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
</div>


{% endblock %}
    


